body {
  font-size: 100%;
  font-family: Arial;
  background-color: #000;
}
 
.vacation {
  align-items: center;
  max-width: 80%;
}

button, input {
  font-size: 100%;
  font-family: Arial;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid rgb(24, 24, 24);
  text-align: left;
  padding: 8px;
  color: white;
}

th {
  background-color: #6666ff;
  color: white;
}

tr:nth-child(even) {
  background-color: none;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  font-size: 120%;
  text-decoration: bold;
  color: #FFF;
}

.form:focus {
  margin-top: 25px;
  width: 100%;
  outline-color: none !important;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}
